body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #bd7f0f url("/images/coffee_seed.png") repeat-x left top;
}

#container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px #4b2802;
}

.main {
    background-color: #fee8d1;
}

.logo {
    background-color: #64390a;
    padding: 8px;
    margin-top: -4px;
}

.shop_name {
    font-size: 32px;
}

.nav {
    width: 25%;
    float: left;
    padding: 20px;
    background-color: #fee8d1;
}

.nav_menu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #64390a;
    text-shadow: 1px 1px 2px rgba(75, 40, 2, 0.35);
    border-bottom: 1px dashed #64390a;
}

.nav_menu a:hover {
    background-color: #cca45c;
    color: #fff;
}

.nav_menu .active {
    background-color: #cca45c;
}
.footer {
    width: 100%;
    clear: both;
    padding: 20px;
    font-size: 12px;
    color: #cca45c;
    background-color: #64390a;
}

.footer a {
    text-decoration: none;
    color: #cca45c;
}

.footer a:hover {
    text-decoration: underline;
    color: #bc7f10;
}

.links {
    width: 50%;
    float: left;
}

.copyright {
    width: 50%;
    float: right;
    text-align: right;
}

.content {
    padding: 20px;
    float: right;
    width: 75%;
    background-color: #fff;
}

.content .header {
    color: #64390a;
    font-size: 16px;
    padding: 20px;
    background-color: #cca45c;
    width: 100%;
    font-weight: bold;
    border-top: 1px dashed #4b2802;
    border-bottom: 1px dashed #4b2802;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(75, 40, 2, 0.35);
}

.body-content span{
    color: #64390a;
    font-weight: 700;
}

.content .container-buy{
    display: flex;
}

.content .container-buy .buy{
    display: flex;
    margin-left: 24px;
    align-items: center;
    justify-content: center;
}
.content .container-buy input[type='number']{
    width: 36px;
    padding: 5px;
    border: 2px dashed #4b2802;
    color: #64390a;
    font-weight: 700;
}
.content .container-buy select{
    width: 80px;
    padding: 5px;
    border: 2px dashed #4b2802;
    color: #64390a;
    font-weight: 700;
}
.content .container-buy input[type='submit']{
    margin-top: 12px;
    cursor: pointer;
    padding: 5px;
    background-color: #4b2802;
    color: #cca45c;
    border-radius: 3px;
    font-weight: bold;
}
@media screen and (max-width: 900px) {
    .content .container-buy{
        display: block;
    }
    .content .container-buy .buy form{
        margin-top: 24px;
        display: flex;
        align-items: center;
    }
    .content .container-buy select{
        margin-left: 12px;
    }
    .content .container-buy input[type='submit']{
        margin-top: 0;
        margin-left: 12px;
    }
}

@media screen and (max-width: 600px) {
    .content .container-buy{
        display: block;
    }
    .content .container-buy .buy form{
        margin-top: 24px;
        display: flex;
        align-items: center;
    }
    .content .container-buy select{
        margin-left: 12px;
    }
    .content .container-buy input[type='submit']{
        margin-top: 0;
        margin-left: 12px;
    }
}